div.moCalDays
{height: 100px;}

div.moCalDaysHead {
    background-color: #02437a;
    padding-top: 5px;
    padding-bottom: 5px; 
    margin-bottom: 20px;
    border-radius: 5px;
    color: white;
    text-transform: lowercase;
}

div.currDayDiv {
    background-color: #02437a;
    border-radius: 5px;
}
.badge-success {
    margin-top: 3px;
}

.badge-warning {
    font-size: 14px;
    display: none;
}

div.moCalDays:hover .badge-warning {
    display: inline-block;
}

div.todoitems_outerdiv {
    overflow-y: scroll;
    height: 60px;
    font-size: 11px;
    margin-top:2px;
    padding:1px;
}
div.todoitems_innerdiv {
    margin-bottom: 1px;
    color: white;
    padding:1px;
    border-radius: 2px;
    background-color: #007bff;
}
div.todoitems_innerdiv_done {
    color: white;
    background-color:
    #17a203;
}


