
<form [formGroup]="yrmofrm" (ngSubmit)="yrmosel()">
    <span class="badge badge-secondary">yr</span>
    <select id="yrsel" formControlName="selectedyr" >
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
        </select>
        <span class="badge badge-secondary">mo</span>
    <select id="mosel" formControlName="selectedmo">
            <option value="1">jan</option>
            <option value="2">feb</option>
            <option value="3">mar</option>
            <option value="4">apr</option>
            <option value="5">may</option>
            <option value="6">june</option>
            <option value="7">july</option>
            <option value="8">aug</option>
            <option value="9">sep</option>
            <option value="10">oct</option>
            <option value="11">nov</option>
            <option value="12">dec</option>
        </select>
        <button type="submit" class="btn btn-primary btn-sm">load</button>
<!-- </form>
<form [formGroup]="yrmofrm" (ngSubmit)="yrmosel()">
    <div class="row">
        <div class="col">
                <div class="form-row">
                        <div class="col-sm-1">
                            <label>yr</label>    
                        </div>
                        <div class="col-sm-3">    
                            <select id="yrsel" formControlName="selectedyr" class="form-control-sm">
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                            </select>
                        </div>
                        <div class="col-sm-1">
                                <label>mo</label>    
                        </div>
                        <div class="col-sm-3">
                            <select id="mosel" formControlName="selectedmo" class="form-control-sm">
                                <option value="1">jan</option>
                                <option value="2">feb</option>
                                <option value="3">mar</option>
                                <option value="4">apr</option>
                                <option value="5">may</option>
                                <option value="6">june</option>
                                <option value="7">july</option>
                                <option value="8">aug</option>
                                <option value="9">sep</option>
                                <option value="10">oct</option>
                                <option value="11">nov</option>
                                <option value="12">dec</option>
                            </select>
                        </div>
                        <div class="col-sm-1">
                            <button type="submit" class="btn  btn-warning">load</button>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
        </div>
        <div class="col"></div>
    </div>
  
</form> -->